In [27]:
import os
import requests
import pandas as pd
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi
from MCForecastTools import MCSimulation

%matplotlib inline

In [28]:
load_dotenv('keys.env')

True

In [29]:
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

In [30]:
print(f"Alpaca Key type: {type(alpaca_api_key)}")
print(f"Alpaca Secret Key type: {type(alpaca_secret_key)}")

Alpaca Key type: <class 'str'>
Alpaca Secret Key type: <class 'str'>

In [31]:
alpaca = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version="v2")

In [32]:
start_date = pd.Timestamp('2016-01-01', tz='America/New_York').isoformat()
end_date = pd.Timestamp('2021-01-01', tz='America/New_York').isoformat()
timeframe = '1D'
tickers = ['AAPL','MSFT','AMZN','FB','TSLA','GOOGL','GOOG','BRKB','JNJ','JPM']

In [33]:
cfund_stock_data = alpaca.get_barset(
    tickers,
    timeframe,
    start=start_date,
    end=end_date
).df
cfund_stock_data.head()

                              AAPL                                        \
                              open    high       low   close      volume
time
2020-08-10 04:00:00+00:00      NaN     NaN       NaN     NaN         NaN
2020-08-11 04:00:00+00:00  447.875  449.93  436.4267  437.51  42121338.0
2020-08-12 04:00:00+00:00  441.990  453.10  441.1900  452.24  38649102.0
2020-08-13 04:00:00+00:00  457.720  464.17  455.7100  460.03  48059064.0
2020-08-14 04:00:00+00:00  459.315  460.00  452.1800  459.78  38149232.0

                              AMZN                                          \
                              open       high      low    close     volume
time
2020-08-10 04:00:00+00:00      NaN        NaN      NaN      NaN        NaN
2020-08-11 04:00:00+00:00  3113.20  3159.2200  3073.00  3080.67  3355886.0
2020-08-12 04:00:00+00:00  3108.00  3174.3850  3101.42  3161.00  3099388.0
2020-08-13 04:00:00+00:00  3182.99  3217.5210  3155.00  3161.02  2859738.0
2020-08-14 04:00:00+00:00  3178.18  3178.2356  3120.00  3148.00  2453638.0

                           ...     MSFT                                      \
                           ...     open    high     low   close      volume
time                       ...
2020-08-10 04:00:00+00:00  ...      NaN     NaN     NaN     NaN         NaN
2020-08-11 04:00:00+00:00  ...  207.155  207.65  203.14  203.33  31501341.0
2020-08-12 04:00:00+00:00  ...  205.290  210.28  204.75  209.29  24332646.0
2020-08-13 04:00:00+00:00  ...  209.440  211.35  208.15  208.72  20253372.0
2020-08-14 04:00:00+00:00  ...  208.760  209.59  207.51  208.89  15731496.0

                              TSLA
                              open     high      low     close      volume
time
2020-08-10 04:00:00+00:00      NaN      NaN      NaN       NaN         NaN
2020-08-11 04:00:00+00:00  1396.00  1420.00  1368.00  1374.000   6978037.0
2020-08-12 04:00:00+00:00  1470.00  1585.00  1435.00  1554.423  21016580.0
2020-08-13 04:00:00+00:00  1611.00  1651.18  1567.26  1620.710  19063440.0
2020-08-14 04:00:00+00:00  1664.99  1668.80  1626.64  1651.500  11738513.0

[5 rows x 50 columns]

In [34]:
start_date_2 = pd.Timestamp('2016-01-01', tz='America/New_York').isoformat()
end_date_2 = pd.Timestamp('2021-01-01', tz='America/New_York').isoformat()
timeframe_2 = '1D'
tickers_2 = ['GBTC','ETHE']

In [40]:
coin_data = alpaca.get_barset(
    tickers_2,
    timeframe_2,
    start=start_date_2,
    end=end_date_2
).df
coin_data.head()

                          ETHE                           GBTC                \
                          open high  low close volume    open   high    low
time
2018-08-06 04:00:00+00:00  NaN  NaN  NaN   NaN    NaN   9.685  10.10   9.66
2018-08-07 04:00:00+00:00  NaN  NaN  NaN   NaN    NaN  10.220  10.37  10.07
2018-08-08 04:00:00+00:00  NaN  NaN  NaN   NaN    NaN   9.545   9.94   9.50
2018-08-09 04:00:00+00:00  NaN  NaN  NaN   NaN    NaN   9.715  10.03   9.56
2018-08-10 04:00:00+00:00  NaN  NaN  NaN   NaN    NaN   9.765   9.99   9.57


                           close   volume
time
2018-08-06 04:00:00+00:00   9.97  2312577
2018-08-07 04:00:00+00:00  10.15  1328032
2018-08-08 04:00:00+00:00   9.73  3758564
2018-08-09 04:00:00+00:00   9.70  2162424
2018-08-10 04:00:00+00:00   9.60  1279329

In [45]:
start_date_cons = pd.Timestamp('2016-01-01', tz='America/New_York').isoformat()
end_date_cons = pd.Timestamp('2021-01-01', tz='America/New_York').isoformat()
timeframe_cons = '1D'
tickers_cons = ['INX','QQQ','GBTC','XME','TAN']

In [46]:
cons_risk_portfolio = alpaca.get_barset(
    tickers_cons,
    timeframe_cons,
    start=start_date_cons,
    end=end_date_cons
).df
cons_risk_portfolio.head()

                             GBTC                                  INX       \
                             open   high    low  close     volume open high
time
2018-08-06 04:00:00+00:00   9.685  10.10   9.66   9.97  2312577.0  NaN  NaN
2018-08-07 04:00:00+00:00  10.220  10.37  10.07  10.15  1328032.0  NaN  NaN
2018-08-08 04:00:00+00:00   9.545   9.94   9.50   9.73  3758564.0  NaN  NaN
2018-08-09 04:00:00+00:00   9.715  10.03   9.56   9.70  2162424.0  NaN  NaN
2018-08-10 04:00:00+00:00   9.765   9.99   9.57   9.60  1279329.0  NaN  NaN

                                             ...  TAN                        \
                           low close volume  ... open high low close volume
time                                         ...
2018-08-06 04:00:00+00:00  NaN   NaN    NaN  ...  NaN  NaN NaN   NaN    NaN
2018-08-07 04:00:00+00:00  NaN   NaN    NaN  ...  NaN  NaN NaN   NaN    NaN
2018-08-08 04:00:00+00:00  NaN   NaN    NaN  ...  NaN  NaN NaN   NaN    NaN
2018-08-09 04:00:00+00:00  NaN   NaN    NaN  ...  NaN  NaN NaN   NaN    NaN
2018-08-10 04:00:00+00:00  NaN   NaN    NaN  ...  NaN  NaN NaN   NaN    NaN

                           XME
                          open high low close volume
time
2018-08-06 04:00:00+00:00  NaN  NaN NaN   NaN    NaN
2018-08-07 04:00:00+00:00  NaN  NaN NaN   NaN    NaN
2018-08-08 04:00:00+00:00  NaN  NaN NaN   NaN    NaN
2018-08-09 04:00:00+00:00  NaN  NaN NaN   NaN    NaN
2018-08-10 04:00:00+00:00  NaN  NaN NaN   NaN    NaN

[5 rows x 25 columns]

In [47]:
MC_fiveyear = MCSimulation(
    portfolio_data = cons_risk_portfolio,
    weights = [.60,.40],
    num_simulation = 500,
    num_trading_days = 252*5
)