In [25]:
import os
import requests
import pandas as pd
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi
from MCForecastTools import MCSimulation

%matplotlib inline

In [26]:
load_dotenv('keys.env')

True

In [27]:
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

In [28]:
print(f"Alpaca Key type: {type(alpaca_api_key)}")
print(f"Alpaca Secret Key type: {type(alpaca_secret_key)}")

Alpaca Key type: <class 'str'>
Alpaca Secret Key type: <class 'str'>

In [29]:
alpaca = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version="v2")

In [30]:
start_date = pd.Timestamp('2016-01-01', tz='America/New_York').isoformat()
end_date = pd.Timestamp('2021-01-01', tz='America/New_York').isoformat()
timeframe = '1D'
tickers = ['AAPL','MSFT','AMZN','FB','TSLA','GOOGL','GOOG','BRKB','JNJ','JPM']

In [32]:
cfund_stock_data = alpaca.get_barset(
    tickers,
    timeframe,
    start=start_date,
    end=end_date
).df
cfund_stock_data

                              AAPL                                          \
                              open     high       low   close       volume
time
2020-08-10 04:00:00+00:00      NaN      NaN       NaN     NaN          NaN
2020-08-11 04:00:00+00:00  447.875  449.930  436.4267  437.51   42121338.0
2020-08-12 04:00:00+00:00  441.990  453.100  441.1900  452.24   38649102.0
2020-08-13 04:00:00+00:00  457.720  464.170  455.7100  460.03   48059064.0
2020-08-14 04:00:00+00:00  459.315  460.000  452.1800  459.78   38149232.0
...                            ...      ...       ...     ...          ...
2020-12-24 05:00:00+00:00  131.320  133.460  131.1000  131.99   51675667.0
2020-12-28 05:00:00+00:00  133.990  137.340  133.5100  136.73  116008068.0
2020-12-29 05:00:00+00:00  138.050  138.789  134.3409  134.93  114407189.0
2020-12-30 05:00:00+00:00  135.580  135.990  133.4000  133.72   87788124.0
2020-12-31 05:00:00+00:00  134.080  134.740  131.7200  132.58   86901528.0

                              AMZN                                           \
                              open       high       low    close     volume
time
2020-08-10 04:00:00+00:00      NaN        NaN       NaN      NaN        NaN
2020-08-11 04:00:00+00:00  3113.20  3159.2200  3073.000  3080.67  3355886.0
2020-08-12 04:00:00+00:00  3108.00  3174.3850  3101.420  3161.00  3099388.0
2020-08-13 04:00:00+00:00  3182.99  3217.5210  3155.000  3161.02  2859738.0
2020-08-14 04:00:00+00:00  3178.18  3178.2356  3120.000  3148.00  2453638.0
...                            ...        ...       ...      ...        ...
2020-12-24 05:00:00+00:00  3193.90  3202.0000  3169.000  3171.16  1379521.0
2020-12-28 05:00:00+00:00  3194.00  3304.0000  3172.690  3283.96  5387557.0
2020-12-29 05:00:00+00:00  3309.94  3350.6500  3281.223  3320.71  4605698.0
2020-12-30 05:00:00+00:00  3341.00  3342.1000  3282.470  3285.85  2897643.0
2020-12-31 05:00:00+00:00  3275.00  3282.9219  3241.200  3256.41  2636124.0

                           ...     MSFT                                      \
                           ...     open    high     low   close      volume
time                       ...
2020-08-10 04:00:00+00:00  ...      NaN     NaN     NaN     NaN         NaN
2020-08-11 04:00:00+00:00  ...  207.155  207.65  203.14  203.33  31501341.0
2020-08-12 04:00:00+00:00  ...  205.290  210.28  204.75  209.29  24332646.0
2020-08-13 04:00:00+00:00  ...  209.440  211.35  208.15  208.72  20253372.0
2020-08-14 04:00:00+00:00  ...  208.760  209.59  207.51  208.89  15731496.0
...                        ...      ...     ...     ...     ...         ...
2020-12-24 05:00:00+00:00  ...  221.420  223.61  221.20  222.71   9704782.0
2020-12-28 05:00:00+00:00  ...  224.450  226.03  223.02  224.96  15814383.0
2020-12-29 05:00:00+00:00  ...  226.310  227.18  223.58  224.29  15518607.0
2020-12-30 05:00:00+00:00  ...  225.230  225.63  221.47  221.68  16214759.0
2020-12-31 05:00:00+00:00  ...  221.700  223.00  219.68  222.37  15660731.0

                              TSLA
                              open     high        low     close      volume
time
2020-08-10 04:00:00+00:00      NaN      NaN        NaN       NaN         NaN
2020-08-11 04:00:00+00:00  1396.00  1420.00  1368.0000  1374.000   6978037.0
2020-08-12 04:00:00+00:00  1470.00  1585.00  1435.0000  1554.423  21016580.0
2020-08-13 04:00:00+00:00  1611.00  1651.18  1567.2600  1620.710  19063440.0
2020-08-14 04:00:00+00:00  1664.99  1668.80  1626.6400  1651.500  11738513.0
...                            ...      ...        ...       ...         ...
2020-12-24 05:00:00+00:00   642.99   666.09   641.0000   661.660  22073561.0
2020-12-28 05:00:00+00:00   674.51   681.40   660.8000   663.770  29644945.0
2020-12-29 05:00:00+00:00   661.00   669.90   655.0000   665.980  21166506.0
2020-12-30 05:00:00+00:00   672.00   696.60   668.3603   694.710  41421498.0
2020-12-31 05:00:00+00:00   699.99   718.72   691.1200   705.210  48019909.0

[101 rows x 50 columns]

In [37]:
start_date_2 = pd.Timestamp('2016-01-01', tz='America/New_York').isoformat()
end_date_2 = pd.Timestamp('2021-01-01', tz='America/New_York').isoformat()
timeframe_2 = '1D'
tickers_2 = ['GBTC','ETHE']

In [38]:
coin_data = alpaca.get_barset(
    tickers_2,
    timeframe_2,
    start=start_date_2,
    end=end_date_2
).df
coin_data

                          ETHE                           GBTC                \
                          open high  low close volume    open   high    low
time
2018-08-06 04:00:00+00:00  NaN  NaN  NaN   NaN    NaN   9.685  10.10   9.66
2018-08-07 04:00:00+00:00  NaN  NaN  NaN   NaN    NaN  10.220  10.37  10.07
2018-08-08 04:00:00+00:00  NaN  NaN  NaN   NaN    NaN   9.545   9.94   9.50
2018-08-09 04:00:00+00:00  NaN  NaN  NaN   NaN    NaN   9.715  10.03   9.56
2018-08-10 04:00:00+00:00  NaN  NaN  NaN   NaN    NaN   9.765   9.99   9.57
...                        ...  ...  ...   ...    ...     ...    ...    ...
2018-12-20 05:00:00+00:00  NaN  NaN  NaN   NaN    NaN   4.690   4.84   4.52
2018-12-21 05:00:00+00:00  NaN  NaN  NaN   NaN    NaN   4.690   4.77   4.25
2018-12-24 05:00:00+00:00  NaN  NaN  NaN   NaN    NaN   4.595   4.84   4.59
2018-12-26 05:00:00+00:00  NaN  NaN  NaN   NaN    NaN   4.445   4.48   4.22
2018-12-27 05:00:00+00:00  NaN  NaN  NaN   NaN    NaN   4.170   4.17   3.84


                           close   volume
time
2018-08-06 04:00:00+00:00   9.97  2312577
2018-08-07 04:00:00+00:00  10.15  1328032
2018-08-08 04:00:00+00:00   9.73  3758564
2018-08-09 04:00:00+00:00   9.70  2162424
2018-08-10 04:00:00+00:00   9.60  1279329
...                          ...      ...
2018-12-20 05:00:00+00:00   4.63  7225512
2018-12-21 05:00:00+00:00   4.32  5414044
2018-12-24 05:00:00+00:00   4.80  4514600
2018-12-26 05:00:00+00:00   4.26  6027732
2018-12-27 05:00:00+00:00   4.08  8811670

[100 rows x 10 columns]